
header {
  background-color: #f2f3eb;
  padding: 20px 0;
  text-align: right;
  position: relative;
  z-index: 1001;
}

nav a {
  color: #314b2f;
  text-decoration: none;
  margin: 0 30px;
  font-size: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 40px;
  border-radius: 40px;
  width: 85%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 40px;
}

.menu-grid a {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-align: left;
  text-decoration: none;
}

.menu-grid a:hover {
  text-decoration: underline;
}


.hero {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1564604761383-d0c5d44bb05c') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero .btn {
  background-color: #7aa96b;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s;
}

.hero .btn:hover {
  background-color: #5c824e;
}

.cards-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
  background: #f7f7f7;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  max-width: 280px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}
